# Write a program to remove characters from a string starting from zero up to n and return a new string.

__Example:__

remove_char("Untitled", 4) so output must be tled. Here we need to remove first four characters from a string

In [12]:
def remove_char(a, b):
    # Write your code here
    print("started")

a="Untitled"
b=4
remove_char(a,b)

started

# Write a program to find how many times substring appears in the given string.

__Example:__

"You can use Markdown to format documentation you add to Markdown cells" sub_string: Markdown
In the above the substring Markdown is appeared two times.So the count is two

In [14]:
def sub_string(m_string,s_string):
    # Write your code here
    print("started")
    
    
m_string="You can use Markdown to format documentation you add to Markdown cells"
s_string="Markdown"
sub_string(m_string,s_string)

started

# Write a program to check if the given number is a palindrome number.

__Exapmle:__

A palindrome number is a number that is same after reverse. For example 242, is the palindrome number

In [16]:
def palindrom_check(a):
    # Write your code here
    print("started")

palindrom_check(242)

started

# Write a program to Extract Unique values from dictionary values

__Example:__

test= {"gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best' : [6, 12, 10, 8], 'for': [1, 2, 5]}
out_put: [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [19]:
def extract_unique(a):
    # Write your code here
    print("started")
    


test= {'gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best' : [6, 12, 10, 8], 'for': [1, 2, 5]}
extract_unique(test)

started

# Write a program to find the dictionary with maximum count of pairs

__Example:__

Input: test_list = [{"gfg": 2, "best":4}, {"gfg": 2, "is" : 3, "best": 4, "CS":9}, {"gfg":2}] 
Output: 4

In [20]:
def max_count(a):
    # Write your code here
    print("started")
    
    
test_list = [{"gfg": 2, "best":4}, {"gfg": 2, "is" : 3, "best": 4, "CS":9}, {"gfg":2}]
max_count(test_list)

started

# Access the value of key 'history' from the below dict

In [22]:
def key_access(a):
    # Write your code here
    print("started")
    
    
    


sampleDict = {
"class":{
"student":{
"name": "Mike",
"marks" : {
"physics":70,
"history":80
}
}
}
}
key_access(sampleDict)

started

# Print the value of key hair
# Print the third element of the key interested in

In [28]:
def third_ele(a):
    # Write your code here
    print("started")
    
    
    
    
    
info={
   "personal data":{
      "name":"Lauren",
      "age":20,
      "major":"Information Science",
      "physical_features":{
         "color":{
            "eye":"blue",
            "hair":"brown"
         },
         "height":"5'8"
      }
   },
   "other":{
      "favorite_colors":[
         "purple",
         "green",
         "blue"
      ],
      "interested_in":[
         "social media",
         "intellectual property",
         "copyright",
         "music",
         "books"
      ]
   }
}

third_ele(info)

started

In [35]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# Print the Unique values from attempts column

In [40]:
def un_values(df):
    # Write your code here
    print("started")
    
    
    
    
un_values(df)

started

# Print the top five rows from the data frame

In [42]:
def top_five(df):
    # Write your code here
    print("started")
    
    
    
    
top_five(df)

started

# Print the max and min values of the coulmn attempts

In [43]:
def min_max(df):
    # Write your code here
    print("started")
    
    
    
    
min_max(df)

started